<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isNetworkUnavailable">
    <p>You are offline. Please check your internet connection.</p>
  </div>
  <div *ngIf="!isNetworkUnavailable">
    <h3 *ngIf="isScanning" style="text-align: center; color: white;">Scan iPhone code in the box below</h3>
    <!-- <div *ngIf="!isScanning">
      <p>Scanned code: {{scanresult}}</p>
      <div *ngIf="deviceInfo">
        <p>Device Details:</p>
        <p>{{deviceInfo | json}}</p>
        <p>{{deviceInfo.date | date : 'medium'}}</p>
      </div>
    </div> -->
  </div>
</ion-content>
<div class="div-scan" *ngIf="isScanning">
  <div class="scanner-object"></div>
</div>
<ion-footer *ngIf="isScanning">
  <ion-row>
    <ion-col col-4>
      <ion-icon name="ios-arrow-dropleft-outline" class="qrscan-icon" (tap)="exit_from_qr_scan()"></ion-icon>
    </ion-col>
    <ion-col col-4>
      <ion-icon name="flash" class="qrscan-icon" (tap)="light_enable_disable()"></ion-icon>
    </ion-col>
    <ion-col col-4>
      <ion-icon name="camera" class="qrscan-icon" (tap)="change_camera()"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer>